main {
    margin-top: 60px;
    place-self: center;
    width: 50%;
}

main img {
    float: left;
    padding-right: 15px;
}

aside {
    float: left;
    width: 30%;
    padding-right: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 57px;
    width: 100%;
    padding-top: 20px;
    
    background-color: #212529;
}
footer p {
    color: whitesmoke;
}
footer img {
    float: right;
}
h1, h2, h3, h4, h5, h6 {
    margin: auto;
    width: 50%;

}

#list {
    float: right;
    width: 20%;
    padding-left: 15px;
}